# Virtual Environment
venv/

# Environment Variables
.env

# Database
*.db

# Python Cache
_pycache_/
*.pyc
*.pyo

# Logs
logs/
*.log

# Uploads
uploads/*
!uploads/.gitkeep

# VS Code
.vscode/

# PyCharm
.idea/